@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1 {
  font-family: "Great Vibes", cursive;
  @apply text-6xl;
  @apply mb-2;
  color: #b19551;
}

h2 {
  font-family: "Great Vibes", cursive;
  @apply text-4xl;
  @apply mb-2;
  color: #b19551;
}

.alt-font {
  font-family: "Raleway", cursive;
  color: #b19551;
}

p {
  @apply mb-2;
}